.container{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

.question-box{
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.buttons{
    margin-top: 50px;
    text-align: center;
}

.btn{
    font-size: 50px;
    padding: 20px;
    width: 400px;
}

.btn-true{
    background-color: darkseagreen;
    color:beige;
    border:0px;
}

.btn-false{
    background-color: salmon;
    color:beige;
    border:0px;
}

.btn-restart{
    background-color: #f1c40f;
    color:#34495e;
    border:0px;
    width: 805px;
}

.btn-true:hover{
    background-color:rgb(42, 101, 51);
    color:beige;
    border:1px solid black;
}

.btn-false:hover{
    background-color: rgb(135, 81, 81);
    color:beige;
    border:1px solid black;
}

.message{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.navbar{
    margin-left: 312px;
    margin-right: 288px;
}

.btn-next{
    width: 805px;
    background-color: darkgrey;
}